
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
      <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <link href="https://okl6kq9ce.qnssl.com/main.ba765793.css" rel="stylesheet">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>
          footer{
 clear: both;
    display: block;
    text-align: left;
    position: relative;
    bottom: 0px;
    width: 100%;
              height: 200px;
          }
      </style>
  </head>

  <body>

    <nav class="navbar-default navbar-fixed-top">

      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Grad School Application Helper</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="color: #2e6da4">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class = "jumbotron" style="width: 100%; background-image:url(http://blogcache2.artron.net/201302/26/748991_13618571379clc.jpg); background-size: cover; background-attachment: fixed;  height: 600px;margin-bottom: 0px;">
        <div class="container">
    <div class="row">
        <div class="col-md-12"></div>

<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" style="padding-left: 40px;padding-right: 40px;box-shadow: azure">
        <form method="post">
    <div style="margin: 200px auto 0px">
<div class="search-input-div" id="search">
    <div style="display: inline-block; position: relative; width: 100%;">
    <div class="search-input" style="font-size: 16px; line-height: 24px; width: 100%; height: 48px; display: inline-block;
    position: relative; background-color: transparent; font-family:Helvetica, Arial, sans-serif; transition: height 200ms
    cubic-bezier(.17,.67,.83,.67) 0ms; cursor: auto;">


            <input name="name_major" type="text" autocomplete="off" value="" id="AutoComplete" style="padding: 0px; position: relative; width: 100%;
         border: none; outline: none; background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0.87); cursor: inherit; font-style: inherit;
         font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: x-large; line-height: inherit; font-family: inherit;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);margin-bottom: 100px;margin-top: 0px; height: 100%;" placeholder="学校+专业，空格分隔，如CMU CS">


    </div>
    </div>
    <span class="search-btn-span">
        <input type="submit" class="search-btn" value="搜索">
    </span>
</div>
</div>
                   </form>

    </div>
    </div>
    </div>
    </div>

      {#<form class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" method="post">
          <div class="form-group">
            <label for="name">University Name</label>
            <input type="text" class="form-control" name="name" placeholder="University Name">
          </div>
          <div class="form-group">
            <label for="major">Major</label>
            <input type="text" class="form-control" name="major" placeholder="Major"+{{ school_name }}>
          </div>
          <button type="submit" value="search" class="btn btn-success">Search</button>
      </form>#}
        {% if query_result!="" %}
        <div class="alert alert-info center" role="alert">以下是{{ school_name_and_major }}的申请结果与申请人背景</div>

    {% endif %}
    <div class="list-group">
                    {% for ad in query_result %}
      <a href="{{ ad['link']}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ ad['title'] }}</h4>
        <p class="list-group-item-text">
             {{ ad['year'] }} {{ ad['status'] }} from {{  ad['admission_school'] }} <br class = "basic-background">
                        GPA:{{ ad['gpa'].replace("(","").replace(")","") }}  IELTS／TOEFL：{{ ad['english_grade'] }} GRE{{ ad['gre'] }} <br class = "school-background">
                        {{ ad['major'] }}@{{ ad['undergrad_school'] }}
        </p>
      </a>
        {% endfor %}
</div>
<footer class="footer" style="background-color:whitesmoke">
    <div class="footer-div">

         <h2 class="footer-header">About</h2>
    <ul>
  <li> Author:DING RUIYANG</li>
  <li>  Data from <a href="http://www.1point3acres.com/bbs/">一亩三分地论坛
   </a></li>

</ul>
    </div>



</footer>
   {# <div style="height: inherit" class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 search-result">

        <table style="background-color: rgb(255,255,255);border-collapse: collapse;table-layout: fixed">
            <tbody>
            {% for ad in query_result %}
                <tr style="border-bottom: 1px solid rgb(224, 224, 224); color: rgb(0, 0, 0); height: 48px;">
                    <td style="padding-left: 24px; padding-right: 24px; height: 48px; text-align: left; font-size: 13px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit;">
                        <a href="{{ ad['link'] }}" target="_blank">{{ ad['title'] }}</a>
                            <br class="result-detail">
                                {{ ad['year'] }} {{ ad['status'] }} from {{  ad['admission_school'] }} <br class = "basic-background">
                        GPA:{{ ad['gpa'].replace("(","").replace(")","") }}  IELTS／TOEFL：{{ ad['english_grade'] }} GRE{{ ad['gre'] }} <br class = "school-background">
                        {{ ad['major'] }}@{{ ad['undergrad_school'] }}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>#}
    {#<ul class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    {% if query_result == "" %}
        <li><em>Please enter The UNIVERSITY'S NAME and Major you want to apply</em></li>
    {% else %}
        <table class="table">
        <thead>
            <tr>
                <th>学校</th>
                <th>状态</th>
                <th>GPA</th>
                <th>语言成绩</th>
                <th>GRE</th>
                <th>本科学校</th>
                <th>本科专业</th>
                <th>录取年度</th>
                <th>链接</th>
            </tr>
	    </thead>
        <tbody>
            {% for ad in query_result %}
                <tr>
                    <td>{{ ad['admission_school'] }}</td>
                    <td>{{ ad['status'] }}</td>
                    <td>{{ ad['gpa'].replace("(","").replace(")","") }}</td>
                    <td>{{ ad['english_grade'] }}</td>
                    <td>{{ ad['gre'] }}</td>

                    <td>{{ ad['undergrad_school'] }}</td>
                    <td>{{ ad['major'] }}</td>

                    <td>{{ ad['year'] }}</td>
                    <td> <a href = "{{ad['link'] }}">{{ ad['title'] }} </a></td>
		        </tr>
            {% endfor %}
        </tbody>
            {% for ad in query_result %}
                <li><h2>{{ ad }}</h2>
            {% endfor %}


</table>

    {% endif %}
  </ul>#}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
